In [1]:
import pandas as pd

FILE_PATH = 'dados.csv'

df = pd.read_csv(FILE_PATH)
df.head(2)

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790