In [1]:
import pandas as pd

FILE_PATH = 'dados.csv'

df = pd.read_csv(FILE_PATH)
df.head(4)

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158

In [2]:
sorted(df['Anos de Estudo'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [3]:
frequency = df['Sexo'].value_counts()

In [4]:
# Parameter 'normalize' shows the percentual
percentual = df['Sexo'].value_counts(normalize=True)*100
percentual

Sexo
0    69.299844
1    30.700156
Name: proportion, dtype: float64

In [5]:
dist_freq_qual = pd.DataFrame({'Frequency': frequency, 'Percentual (%)': round(percentual, 1)})
dist_freq_qual.rename(index = {0: 'Male', 1: 'Female'}, inplace=True)
dist_freq_qual

        Frequency  Percentual (%)
Sexo
Male        53250            69.3
Female      23590            30.7

In [6]:
dist_freq_qual.index.name = None
dist_freq_qual.rename_axis('Sexo', axis=1, inplace=True)
dist_freq_qual

Sexo    Frequency  Percentual (%)
Male        53250            69.3
Female      23590            30.7

In [7]:
sexo = {0: 'Male',
        1: 'Female'}
cor  = {0: 'Indígena',
        2: 'Branca',
        4: 'Preta',
        6: 'Amarela',
        8: 'Parda',
        9: 'Sem declarar'}

In [8]:
frequency = pd.crosstab(df['Sexo'], df['Cor'], normalize=True) * 100
frequency.rename(index=sexo, columns=cor, inplace=True)
frequency

Cor     Indígena     Branca     Preta   Amarela      Parda
Sexo
Male    0.333160  28.883394  7.160333  0.305830  32.617126
Female  0.131442  12.520822  3.759761  0.152264  14.135867

In [15]:
frequency2 = pd.crosstab(df['Sexo'], df['Cor'], aggfunc='mean', values=df['Renda']).round(2)
frequency2.rename(index=sexo, columns=cor, inplace=True)
frequency2

Cor     Indígena   Branca    Preta  Amarela    Parda
Sexo
Male     1081.71  2925.74  1603.86  4758.25  1659.58
Female   2464.39  2109.87  1134.60  3027.34  1176.76